:root {
  --primary: #fc6e22;
  --primary-dark: #003FC7;
  --dark-text: #1A1F36;
  --light-text: #5A6475;
  --bg-light: #F7F9FC;
  --radius: 16px;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: var(--bg-light);
  color: var(--dark-text);
}

/* NAVBAR */
.navbar {
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.logo {
  font-size: 24px;
  font-weight: 600;
 color: #fc6e22;
}

.nav-btns a {
  margin-left: 14px;
  padding: 10px 18px;
  border-radius: var(--radius);
  text-decoration: none;
  font-size: 18px;
}

.btn-primary {
  background: var(--primary);
  color: white;
}

.btn-light {
  background: #E6EBF5;
  color: var(--dark-text);
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #EAF1FF, #F8FAFF);
}

.hero h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero p {
  color: var(--light-text);
  font-size: 17px;
  margin-bottom: 30px;
}

/* Big Buttons */
.hero-actions {
  margin-bottom: 35px;
}

.big-btn {
  display: inline-block;
  padding: 14px 28px;
  border-radius: var(--radius);
  font-size: 18px;
  margin: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.driver {
  background: var(--primary);
  color: white;
}

.company {
  background: white;
  border: 2px solid var(--primary);
  color: var(--primary);
}

.big-btn:hover {
  transform: translateY(-3px);
}

/* Quick Search Bar */
.quick-search {
  background: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  gap: 30px;
  max-width: 820px;
  margin: auto;
  border-radius: var(--radius);
  box-shadow: 0 4px 15px rgba(229, 222, 222, 0.08);
}

.quick-search input {
  flex: 1;
  padding: 12px;
  border: 1px solid #000000;
  border-radius: var(--radius);
}

.quick-search button {
  padding: 12px 30px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  
}

/* FEATURES SECTION */
.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px 20px;
  flex-wrap: wrap;
}

.feature-card {
  background: white;
  padding: 20px;
  width: 270px;
  border-radius: var(--radius);
  box-shadow: 0 3px 12px rgba(0,0,0,0.07);
  text-align: center;
}
